<h1>Create an account</h1>

<form id="form" action="/register" method="POST">

  <label for="">Full name:</label>
  <input type="text" name="fullName">

  <label for="">Phone number:</label>
  <input type="text" name="phoneNumber" id="">

  <label for="">Instruments you play:</label>
  <input type="text" name="instruments" id="">

  <label for="">Favorite artists:</label>
  <input type="text" name="favArtists" id="">

  <label for="">Email:</label>
  <input type="text" name="email" id="">

  <label for="">Password:</label>
  <input type="password" name="password" id="">
  
  <button type="submit">Create account</button>
</form>

{{> flashMessage}}

