<ul>
  {{#each jamsFromDB}}
  <li> 
    <h3>{{ this.name }} </h3> 
    <img src="{{this.imageUrl}}" alt="" width="300">
    {{#if this.isOwner}}
      <form action="/jams/{{this._id}}/delete">
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  </li>
  {{/each}}
</ul>