<h1 id="header">Update the Jam Session Below</h1>
<body>
<form id="form" action="/jamsessions/{{jam._id}}/update" method="post" id="edit-form" enctype='multipart/form-data'>
    <label for="">Name</label>
    <input type="text" name="name" id="" value="{{jam.name}}">

    <label for="">Description</label>
    <textarea name="description" id="" cols="60" rows="5"> {{jam.description}} </textarea>

    <br>
    <br>

    <label for="">Upload new image</label>
    <img src="{{jam.imageUrl}}" width="380" class="images-details">
    <input type="file" name="imageUrl" id="">

    <button type="submit">Save changes to the jam session</button>
  </form>
  </body>  