<body>

<h1 id="header">Welcome to the Jam</h1>

<p class="about-text">The Jam is a collaborative space where those who love the idea of jamming with others can have the means to do so. It is as simple as creating a Jam Session and showing up with your instruments!</p>

</body>